<a href="https://colab.research.google.com/github/rahulnath2904/Bitcoin-Prediction-using-machine-learning/blob/master/bitcoin_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Description: This is a Bitcoin Price Prediction Using Machine Learning and Python.
# This Program predicts the price of Bitcoin for the next 30 Days.

In [ ]:
# Created By Rahul Nath

In [ ]:
# Import the Libraries
import pandas as pd
import numpy as np

In [ ]:
# Load the Data from dataset
from google.colab import files
uploaded = files.upload()

Saving bitcoin.csv to bitcoin (1).csv

In [ ]:
# Store the data into a Variable
df = pd.read_csv('bitcoin.csv')

# Show the first 7 rows of dataset
df.head(7)

         Date        Open        High  ...       Close   Adj Close    Volume
0  2014-09-17  359.546204  361.468506  ...  355.957367  355.957367  16389165
1  2014-09-18  355.588409  355.505402  ...  328.539368  328.539368  26691849
2  2014-09-19  328.278503  330.936707  ...  307.761139  307.761139  29560102
3  2014-09-20  307.665253  329.978180  ...  318.758972  318.758972  28736825
4  2014-09-21  318.120514  321.504517  ...  310.632446  310.632446  20702624
5  2014-09-22  310.849762  316.469116  ...  312.958771  312.958771  18776342
6  2014-09-23  312.912079  343.704376  ...  339.189758  339.189758  35102350

[7 rows x 7 columns]

In [ ]:
# Removing the 'Date' Column
# (I removed them as to make my data simpler and convinience to implement)
df.drop(['Date'],1,inplace =True)

In [ ]:
# Removing the 'Open','High','Low' Column
df.drop(['Open'],1,inplace =True)
df.drop(['High'],1,inplace =True)
df.drop(['Low'],1,inplace =True)

In [ ]:
# Removing the 'Adj Close' Column
df.drop(['Adj Close'],1,inplace =True)

In [ ]:
# Showing the first 7 rows of dataset
df.head(7)

        Close    Volume
0  355.957367  16389165
1  328.539368  26691849
2  307.761139  29560102
3  318.758972  28736825
4  310.632446  20702624
5  312.958771  18776342
6  339.189758  35102350

In [ ]:
# A Variable for predicting 'n' days out into the future
# Assuming n = prediction_days = 30 
prediction_days = 30

#Create another column shifted 'n' units up
df['Prediction'] = df[['Close']].shift(-prediction_days)

In [ ]:
# Showing the first 7 rows of the new dataset
df.head(7)

        Close    Volume  Prediction
0  355.957367  16389165  300.821503
1  328.539368  26691849  306.844849
2  307.761139  29560102  305.622162
3  318.758972  28736825  299.214539
4  310.632446  20702624  304.023773
5  312.958771  18776342  303.107330
6  339.189758  35102350  283.355988

In [ ]:
# Showing the last 7 rows of the new dataset
df.tail(7)

            Close       Volume  Prediction
1870  8245.560547  23826849281         NaN
1871  8292.355469  21780231050         NaN
1872  8349.874023  19021882025         NaN
1873  8270.445313  18924326413         NaN
1874  8458.521484  23517560012         NaN
1875  8436.573242  23658103729         NaN
1876  8456.394531  20898606220         NaN

In [ ]:
# Create the independent dataset

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

# Remove the last 'n' rows where 'n' is the prediction_days 
X = X[:len(df)-prediction_days]

print(X)

[[3.55957367e+02 1.63891650e+07]
 [3.28539368e+02 2.66918490e+07]
 [3.07761139e+02 2.95601020e+07]
 ...
 [7.42463135e+03 1.11125789e+10]
 [7.27220947e+03 1.19812777e+10]
 [7.51501123e+03 1.64139714e+10]]

In [ ]:
# Create the dependent data set

# Convert the dataframe to a numpy array
y = np.array(df['Prediction'])

# Get all of the values except the last 'n' rows
y = y[:-prediction_days]

print(y)

[ 300.821503  306.844849  305.622162 ... 8458.521484 8436.573242
 8456.394531]

In [ ]:
# Splitting the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [ ]:
# Set the prediction_days_array equal to the last 30 rows from yhe original data set
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]

print(prediction_days_array)

[[7.50835303e+03 1.42271613e+10]
 [7.82407471e+03 1.76446979e+10]
 [7.79822656e+03 1.60012500e+10]
 [7.53851318e+03 1.77592168e+10]
 [7.55450293e+03 1.31693345e+10]
 [7.54500537e+03 1.25205529e+10]
 [7.59537988e+03 1.37414755e+10]
 [7.43596826e+03 1.37932250e+10]
 [7.26673145e+03 1.45123276e+10]
 [7.28427344e+03 1.28654158e+10]
 [7.13811768e+03 1.40122918e+10]
 [7.15186279e+03 1.23526828e+10]
 [7.37044385e+03 1.38983348e+10]
 [7.39227686e+03 1.42297610e+10]
 [7.25902490e+03 1.50994145e+10]
 [6.75024951e+03 1.97107615e+10]
 [6.74862109e+03 1.46515667e+10]
 [7.81634277e+03 2.59065225e+10]
 [8.34345801e+03 4.01572477e+10]
 [8.61756641e+03 2.94055540e+10]
 [8.34004883e+03 2.78852446e+10]
 [8.48309961e+03 2.55786156e+10]
 [8.25366992e+03 2.48411221e+10]
 [8.24556055e+03 2.38268493e+10]
 [8.29235547e+03 2.17802310e+10]
 [8.34987402e+03 1.90218820e+10]
 [8.27044531e+03 1.89243264e+10]
 [8.45852148e+03 2.35175600e+10]
 [8.43657324e+03 2.36581037e+10]
 [8.45639453e+03 2.08986062e+10]]

In [ ]:
# Import Support Vector Regression(SVR) from scikit-learn(sklearn)
from sklearn.svm import SVR
# Create and train the Support Vector Machine (SVM Regression) using radial basis function(rbf)
svr_rbf = SVR(kernel = 'rbf', C = 1e3, gamma = 0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
# Test the model
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ",svr_rbf_confidence)

svr_rbf accuracy:  -0.23406865200127447

In [ ]:
# Print the predicted values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

# Print the actual values
print(y_test)

[1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1580.63435786 1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1154.08769585 1583.5380379  1583.5380379  1583.5380379  1583.33082614
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379   610.34221389
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.05930213 1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.53129737 1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379
 1583.5380379  1583.5380379  1583.5380379  1583.5380379  1583.5380379 ]

[10098.285156  5708.814453  9140.374023   223.77475    262.231995
   350.359161   202.950928   207.497162   203.229233   355.211731
  3004.021484   391.623291  7630.927734   214.723526  2227.769531
   211.479492  5209.499023  9482.902344 10500.03125    212.346649
  6786.318359  5759.161621  1190.984375  5711.329102  5524.668945
   373.271606  6454.709961  3585.598877   279.845367  1701.868896
  1577.581421  3359.558594  8924.292969   212.999634   232.012833
  5762.466309   690.950867  2251.830566   602.977112   247.328537
   391.674835  1061.493042  8529.861328   630.987     4497.265137
   254.782791  6536.92041    934.744324   300.738586  7866.871094
  3089.556641  6407.12207    203.255432   305.622162   367.064423
   333.557831   733.709045  3524.441162   217.770752   397.291138
  2507.928955   232.201706   419.381073   734.287231  5666.682129
  7266.731445  6271.749023  9212.255859  1150.83313    283.355988
   405.64917    539.408752   343.026733  5435.495605 11776.447266
  9699.050781  5608.355469   616.757568   261.365234  3308.425781
  1934.145996  5571.442383  5380.359375 12217.572266  9386.741211
   396.908997  3486.701904  3653.833008  2729.692383  5678.756836
  3145.284912  5821.15332   2008.209839  7370.443848   680.31604
  5302.757324   639.162231   402.015411  3202.042725   252.667847
   247.313187   243.380936   313.787018 10073.288086  3197.257813
  7138.117676   391.602722  1046.696045   657.297424  1682.200073
  7433.726563   201.966354  1368.687378   628.040222 12107.336914
  5624.96582    621.897888  5456.281738   784.318054   373.814514
  2320.778076   260.099792  9306.707031  7798.226563  5820.34082
  3502.470703  3398.996582  2230.315674  5690.88623    526.203674
   206.356339   551.163574   241.952362   705.373779   966.530151
  1105.212524   263.024017   365.188812   695.108582   355.526184
   226.909973   294.792755  5600.885742  4740.283203  5627.106934
  9681.073242  7554.50293   1018.176636  7769.595215   205.996674
  7665.601074  3572.601807  3463.68042    216.860641  3272.990234
   843.645508  5682.285156  8245.560547  7515.01123    204.967926
  3100.22168   2540.775635  7342.637695   400.194977  3773.024902
  1160.527832   391.373199 14490.771484   217.358795  8419.313477
   207.379395   227.396652   218.984268   202.597092  5662.807617
   261.235901  2916.662354  5074.62207   8029.626953  4716.388672
   214.955185   400.076294   663.576111   644.320618   379.606232
  4776.865234   401.89801   6510.114258  7650.095215   335.620575
   374.457642   284.888611  2209.35083    690.208374   993.704712
 10096.293945   274.089172  6067.402344  3394.986328  4927.896973
  2763.494873  8483.099609   693.117004  2347.535156  7609.142578
   375.850647  2172.174072   377.947479  6538.252441  6683.214355
   207.50618   1213.207886   234.364304   278.903137  5619.390625
  3053.366943   409.646667   207.316315  3035.792725  8458.521484
   482.486084   372.66156    348.031342   513.397888  2910.091797
  7870.661621   199.972412  5489.974609  6918.433105   620.674133
   398.278259   388.825806   205.879745   219.420822  2312.179688
  7708.179688  3555.384033   863.21228   9452.435547   348.289032
  2331.295654   194.512772 12421.938477   369.608307  1033.058472
   853.092712  7435.968262  8112.359863  2408.293213  1212.820923
  5607.169434   338.126343   395.465027  3450.862793  3192.196777
   713.028564   201.196106  8452.749023   381.758453  6205.382813
   223.236053   506.632294   277.455841  7068.740723   227.713165
  3650.523682  6477.605957   210.11554   5773.525391   503.717682
  2290.377686   757.136414   259.951721  5102.976074   519.483459
  5593.523926   333.654572   282.140717   312.67688    539.881653
  4422.508301  3215.769775  7650.920898  6114.602051  4964.707031
   546.738342 10281.453125  6480.469238   270.138153   362.326385
  7142.606445   663.985291  4634.541016   216.111359 10797.099609
  9302.545898   212.601593  3828.597656   518.562073  2176.186523
   371.970947  1928.954956   181.969894  4987.667969   378.363129
  4253.27832   9849.555664 10198.811523  7142.140625  1743.141235
   362.885406  3289.634033  9314.99707    756.777771  7306.61377
   209.012756  2212.710449  7205.201172   202.990082   631.653625
  6387.591797  4699.305664   868.315308  8746.569336  3657.865967
  1090.564209 10516.327148   191.814011  2324.178955   357.325684
  1414.817139   863.09967   6434.650391   233.992599  7782.442383
   579.893311   550.95166   5681.992188  5551.797852  3516.363281
  3001.490967  6275.925781   226.753616  3334.840332  8270.445313
   312.958832  3303.641113   390.161957  8128.011719   581.496704
   234.254517   253.000748  3036.359619   858.139038   950.363159
  7728.803223   282.186157  5592.500488   403.19165    986.323425
  6936.570313  5389.992188   940.247192  4746.688477   941.114258
 10797.560547   601.380737   543.140808   543.264832  5644.216309]

In [ ]:
# Print the model predictions for the next 'n = 30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[1583.5380379 1583.5380379 1583.5380379 1583.5380379 1583.5380379
 1583.5380379 1583.5380379 1583.5380379 1583.5380379 1583.5380379
 1583.5380379 1583.5380379 1583.5380379 1583.5380379 1583.5380379
 1583.5380379 1583.5380379 1583.5380379 1583.5380379 1583.5380379
 1583.5380379 1583.5380379 1583.5380379 1583.5380379 1583.5380379
 1583.5380379 1583.5380379 1583.5380379 1583.5380379 1583.5380379]

In [ ]:
print()

#Print the actual price for bitcoin for the last 30 days
print(df.tail(prediction_days))

            Close       Volume  Prediction
1847  7508.353027  14227161316         NaN
1848  7824.074707  17644697905         NaN
1849  7798.226563  16001250003         NaN
1850  7538.513184  17759216751         NaN
1851  7554.502930  13169334495         NaN
1852  7545.005371  12520552917         NaN
1853  7595.379883  13741475461         NaN
1854  7435.968262  13793224979         NaN
1855  7266.731445  14512327589         NaN
1856  7284.273438  12865415827         NaN
1857  7138.117676  14012291755         NaN
1858  7151.862793  12352682776         NaN
1859  7370.443848  13898334789         NaN
1860  7392.276855  14229761007         NaN
1861  7259.024902  15099414521         NaN
1862  6750.249512  19710761538         NaN
1863  6748.621094  14651566651         NaN
1864  7816.342773  25906522538         NaN
1865  8343.458008  40157247739         NaN
1866  8617.566406  29405554028         NaN
1867  8340.048828  27885244605         NaN
1868  8483.099609  25578615575         NaN
1869  8253.669922  24841122081         NaN
1870  8245.560547  23826849281         NaN
1871  8292.355469  21780231050         NaN
1872  8349.874023  19021882025         NaN
1873  8270.445313  18924326413         NaN
1874  8458.521484  23517560012         NaN
1875  8436.573242  23658103729         NaN
1876  8456.394531  20898606220         NaN